.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  padding: 92px 50px 96px;
}

.header__menu {
  align-self: center;
}

.header__links-list {
  list-style: circle;
  display: flex;
  gap: 28px;
  font-size: 18px;
}

.header__links-list-item {
  padding-left: 4px;
  letter-spacing: 0.18px;
  line-height: normal;
}

.header__links-list-item_no-bullit {
  padding-left: 0;
  list-style-type: none;
}

.header__link:hover {
  text-decoration: none;
}

.header__link_active {
  text-decoration: none;
}

.header__link_active:hover {
  text-decoration: underline;
}

.header__logo {
  width: 148px;
  justify-self: center;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.header__address {
  justify-self: end;
  align-self: center;
}

.address {
  font-size: 18px;
  font-style: normal;
  line-height: 135%;
  width: 239px;
}

.address__link {
  letter-spacing: 0.18px;
  text-decoration: underline;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 165px 50px 50px;
  position: relative;
}

.overlay {
  opacity: 0.6;
  background: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
